<include file="Public/header"/>
<div class="row_main">
    <form action="{:U('Flink/add')}" method="post" enctype="multipart/form-data">
        <table class="form_table">
            <!-- <tr class="tr rt">
                <td>链接分类</td>
                <td class="lt">
                    <select name="tid">
                        <?php echo A('Communal/Type')->getOptionById(3);?>
                    </select>
                </td>
            </tr> -->
            <tr class="tr rt">
                <td>名称</td>
                <td class="lt">
                    <input type="text" name="title" value="" class="form_table_title">
                </td>
            </tr>
            <tr class="tr rt" id="url">
                <td>跳转地址</td>
                <td class="lt">
                    <input type="text" name="url" value="" class="form_table_title"/>
                </td>
            </tr>
            <tr class="tr rt">
                <td>Logo</td>
                <td class="lt">
                   <input  type="file" name="img"/>
                </td>
            </tr>
            <tr class="tr rt">
                <td>简要描述</td>
                <td class="lt">
                     <textarea name="desc"></textarea>
                </td>
            </tr>
            <tr class="tr rt">
                <td>排序</td>
                <td class="lt">
                    <input type="text" name="sort" value="999"/>
                </td>
            </tr>
            <tr class="tr lt">
                <td >&nbsp;</td>
                <td colspan="4">
                    <input name="submit" type="submit" class="btn btn-default" value="添加" >
                </td>
            </tr>
        </table>
	</form>
</div>
<include file="Public/footer"/>