<include file="Public/header" />







		<div class="banner">
			<div id="slideBox" class="slideBox">
				<div class="bd">
					<ul>
                                        <volist name="focus" id='vo'>
                                        <li><a href="javascript:volid(0);"><img src="__UPLOAD__/{$vo['img']}" /></a></li>
                                        </volist>
					</ul>
				</div>
                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
				  	<tr>
					   	<td>

                                                    <div class="hd">
                                                            <a class="prev" href="javascript:void(0)"></a>
                                                            <ul>
                                                            <volist name="focus" id='vo'>
                                                                <li><a href="javascript:volid(0);"><img src="__UPLOAD__/{$vo['img']}"/></a></li>
                                                            </volist>                                                
                                                            </ul>
                                                            <a class="next" href="javascript:void(0)"></a>
                                                    </div>  
                                                </td>
                                        </tr>
                                </table>
			</div>
		    
		</div>




		<div class="centre">
			<div class="resolve ">
				<div class="margin15 margin150">
					<div class="resolve1 fleft wow fadeInLeft">
						<div class="resolvescript">
							<span>电商解决方案</span>
							<p>从商务和财务到销售与服务，金蝶的解决方案覆盖所有业务线。深入了解面向你所在业务线部门的解决方案组合，连接所有数据，驱动成功，连接所有数据，驱动成功。</p>
						</div>
						<div class="resolveprint">
							<div class="resolveimg"><img src="__PUBLIC__/home/images/img_resolve1.png" /></div>
							<div class="resolvewriting">
								<p>从商务和财务到销售与服务，金蝶的解决方案覆盖所有业务线。深入了解面向你所在业务线部门的解决方案组合，连接所有数据，驱动成功，连接所有数据，驱动成功。</p>
							</div>
						</div>
					</div>
					<div class="resolve1 fleft wow fadeInRight">
						<div class="resolvescript">
							<span>音视频解决方案</span>
							<p>采用数字化音频传输和智能化的系统管理解决方案，借助先进的音频数字处理传输技术，把先进的数字技术和音频技术完美结合；文件输入输出可控化；电源时序器等设备的无缝连接。</p>
						</div>
						<div class="resolveprint">
							<div class="resolveimg"><img src="__PUBLIC__/home/images/img_resolve2.png" /></div>
							<div class="resolvewriting">
								<p>采用数字化音频传输和智能化的系统管理解决方案，借助先进的音频数字处理传输技术，把先进的数字技术和音频技术完美结合；文件输入输出可控化；电源时序器等设备的无缝连接。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="margin15 customized">
				<div class="marginbig">功能定制<i class="margins-i"></i></div>
				<div class="margin60 customizedul wow fadeInUp">
					<div class="">
						<span class="customized1">智能导航</span><span class="customized2">人体感应</span><span class="customized3">高清监控</span>
						<span class="customized4">智能系统</span><span class="customized5">资料派送</span><span class="customized6">真人外形</span>
						<span class="customized7">数据统计</span>
					</div>
					<div class="">
						<span class="customized8">自主避障</span><span class="customized9">语音交互</span><span class="customized10">生物识别</span>
						<span class="customized11">触屏展示</span><span class="customized12">自动充电</span><span class="customized13">关节活动</span>
						<span class="customized14">后台管理</span>
					</div>
					
				</div>
			</div>
			<div class="cooperate">
				<div class="margin15">
					<div class="marginbig">合作案例<i class="margins-i"></i></div>
					<div class="cooperateul margin60">
						<div class="cooperateleft fleft wow fadeInLeft" style=" animation-delay: 0.2s;">
							<div class="cooperate11 cooperate11width">
								<div class="cooperate11img"><img src="__PUBLIC__/home/images/img_cooperate1.png"  class="row5"/></div>
								<div class="cooperate11div"><div class="cooperate11span">青岛地铁合作案例</div></div>
								<i  class="light"></i>
							</div>
						</div>
						<div class="cooperateright fleft wow fadeInRight" style=" animation-delay: 0.6s;">
							<ul>
								<li>
									<div class="cooperate11 cooperate22width">
										<div class="cooperate11img"><img src="__PUBLIC__/home/images/img_cooperate2.png" class="row5" /></div>
										<div class="cooperate11div"><div class="cooperate11span">善林金融合作案例</div></div>
										
									</div>
								</li>
								<li>
									<div class="cooperate11 cooperate22width">
										<div class="cooperate11img"><img src="__PUBLIC__/home/images/img_cooperate3.png"  class="row5"/></div>
										<div class="cooperate11div"><div class="cooperate11span">万豪酒店合作案例</div></div>
										
									</div>
								</li>
								<li>
									<div class="cooperate11 cooperate22width">
										<div class="cooperate11img"><img src="__PUBLIC__/home/images/img_cooperate4.png"  class="row5"/></div>
										<div class="cooperate11div"><div class="cooperate11span">浙江省国家大学科技园</div></div>
										
									</div>
								</li>
								<li>
									<div class="cooperate11 cooperate22width">
										<div class="cooperate11img"><img src="__PUBLIC__/home/images/img_cooperate5.png"  class="row5"/></div>
										<div class="cooperate11div"><div class="cooperate11span">万科合作案例</div></div>
										
									</div>
								</li>
                                                                
                    
                                                                
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="margin15 trends">
				<div class="marginbig">智汇动态<i class="margins-i"></i></div>
				<div class="trendsul margin60">
					<ul>
                                            <volist name="company" id="vo">
						<li class=" wow fadeInDown" style=" animation-delay: 0.2s;">
							<div class="trendscontent">
                                                            <div class="contentimg"><a href="
                                                                                   <?php if(empty($vo['url'])){
                                                                                        echo U('Info/detail',array('id'=>$vo['id']));
                                                                                    }else{
                                                                                        echo $vo['url'];
                                                                                    }      
                                                                                    ?>
                                                                                       "><img src="__UPLOAD__/{$vo['img']}" /></a></div>
								<div class="contentwriting">
									<p class="writingp">{$vo['desc']}</p>
									<span class="writingtime">{$vo['time']|date="Y-m-d",###}</span>
								</div>
							</div>
						</li>
                                            </volist>   

					</ul>
				</div>
			</div>
		</div>
		

		
		
		
            <script>
			new WOW().init();
		    jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
	    
	    </script>

		 <script type="text/javascript">
            
            $(function(){
				$('.row5').adipoli({
					'startEffect' : 'transparent',
					'hoverEffect' : 'boxRainGrowReverse'
				});
       		 });
            
        </script>


<include file="Public/footer" />
