<include file="Public/header"/>
	<body style="background-color: #FFFFFF;">
		<!-- 头部 -->
		<div class="P_top backgroundColor">
			<a onclick="window.history.back()"><img src="__PUBLIC__/mobile/image/10.png" /></a>
			<strong>关于我们</strong>
		</div>
		
		<!--内容-->
		<div class="A_center backgroundColor">
			<div>
				<p class="A_p1"><strong>公司介绍</strong></p>
				<p class="A_p2">{$about}</p>
				<!--<p class="A_p2">研究院主体任务是研发国际高精尖的科技项目，并通过完善研发环节、打造生产供应链、调用商务推广资源的方式将研发成果转化到实际的未来人们的生产生活中。</p>-->
			</div>
			
			<div>
				<p class="A_p1"><strong>专家介绍</strong></p>
				<p class="A_p2">{$expert}</p>

			</div>
		</div>
<include file="Public/footer"/>
	</body>
</html>