<include file="Public/header"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/about.css" />
<div class="banner_inner">
    <div class="aboutUs_outer">
        <div class="aboutUs_inner">
            <h1>{$about['title']}</h1>
            <p>{$about['desc']}</p>
        </div>
    </div>
	<img src="__PUBLIC__/home/images/banner_about.jpg" />
</div>
<div class="container_inner" style="margin-top:40px;">
	<div class="about">
    	<h3><a id="aboutus">{$desc['title']}</a></h3>

        <div class="about_con">
            <img src="__UPLOAD__/{$desc['img']}" />
            <p style="text-indent:34px;">{:htmlspecialchars_decode($desc['text'])}</p>
        </div>
    </div>
    <div class="about"  style="width:1400px">
    	<h3><a id="people">{$expert['title']}</a></h3>
       	<ul class="people_list ul_clear">
            <volist name="expert['images']" id="vo">
                <li>
               <!--      <a href="javascript:void(0)"><img src="__UPLOAD__/{$vo['img']}" alt="{$vo['title']}" title="{$vo['title']}" /></a> -->
                    <div class="people_des">
                        <h4><a href="#">{$vo['title']}</a></h4>
                        <p>{$vo['desc']}</p>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
    <div class="about">
    	<h3><a id="field">{$mechanism['title']}</a></h3>
        <div class="about_con">
        	<p>{:htmlspecialchars_decode($mechanism['text'])}</p>
       	</div>
    </div>
    <div class="about friend_about">
    	<h3><a id="friend">合作伙伴</a></h3>
        <ul class="friend_list ul_clear">
            <volist name="friends" id="v">
               <li><a <if condition="$v['url']">href={$v['url']} target="_blank"<else/> href="javascript:void(0)"  style="cursor:default"</if> ><img src="__UPLOAD__/{$v['img']}" alt="{$v['title']}" title="{$v['title']}" /></a></li>
            </volist>
        </ul>
    </div>
<!--     <div class="about" style="width:1180px; margin-top:30px;">
    	<h3><a href="{:U('Info/aboutUs')}" id="cases">应用案例</a></h3>
       	<ul class="cases_list case_bg ul_clear">
        	<volist name="case" id="vo">
                <li>
                    <a href="{:U('Info/cases')}"><img src="__UPLOAD__/{$vo['img']}" alt="{$vo['title']}" title="{$vo['title']}" /></a>
                    <div class="cases_des">
                        <h4><a href="#">{$vo['title']}</a></h4>
                      
                    </div>
                </li>
            </volist>
        </ul>
    </div> -->
    <div class="about">
    	<h3><a id="service">{$aftermarket['title']}</a></h3>
        <div class="about_con">
        	<p>{$aftermarket['desc']}</p>
       	</div>
    </div>		
</div>
<div class="clearfix"></div>
    <script>  
        $(function(){   
            $('a[href*=#],area[href*=#]').click(function() {  
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {  
                    var $target = $(this.hash);  
                    $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');  
                    if ($target.length) {  
                        var targetOffset = $target.offset().top;  
                        $('html,body').animate({  
                                    scrollTop: targetOffset  
                                },  
                                1000);  
                        return false;  
                    }  
                }  
            });  
        })  
    </script>  
<include file="Public/footer"/>