<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/cases.css">

<div class="container cases_content">        
    <h3><span></span>应用案例</h3>
    <ul class="cases_list">
      <volist name="list" id="vo">
        <li>
          <img src="__UPLOAD__/{$vo['img']}" />
          <div class="cases_des">
            <h4 class="ellipsis">{$vo['title']}</h4>
            <p>{$vo['desc']}</p>
            <!-- <a href="#">查看详情</a> -->
          </div>
        </li>
      </volist>
    </ul>  


<!--<div class="cutpage">
      <a href="#" class="current"><span>1</span></a>
      <a href="#"><span>2</span></a>
      <a href="#"><span>3</span></a>
      <a href="#"><span>4</span></a>
      <span>. . .</span>
      <a href="#"><span>10</span></a>
    </div> -->
    <div class="cutpage">{$page}</div>
</div>



<div style="height:100px;"></div>


<div class="clearfix"></div>


<include file="Public/footer"/>
</body>
</html>
