<include file="Public/header"/>
	<body style="background-color: #FFFFFF;">
		<!-- 头部 -->
		<div class="P_top backgroundColor">
			<a onclick="window.history.back()"><img src="{$row['mobile']}" /></a>
			<strong>产品服务</strong>
		</div>
		
		<!--内容-->
		<div class="P_center backgroundColor">
			<div class="P_up">
				<div class="P_img">
					<img src="image/11.png"  />
				</div>
				<div class="P_right">
					<strong>智能机器人</strong>
					<p class="detail">智汇时代自主研发了一款集导航服务和安保辅助为一身的移动式智能导航机器人。囊括了传统的智能机器人的核心技术，更加以人性化的智能模块，“智汇机器人”具备自主定位导航功能，搭载高性能运动底盘，可自主精确引导用户到室内指定位置。同时，为综合性商业提供辅助客服及安保人员性能，还能提供7×24小时不间断的服务，分担客服安保工作量，节省企业用人成本，提高企业服务质量。“智汇机器人”的研发，志在为企业提供自动化、智能化、人性化、个性化的服务功能，同时，也体现了智汇研究院技术领域的先进性，响应了我们做科技行业特种兵的口号！</p>
				</div>
			</div>
			<div class="P_chart backgroundColor">
				
			</div>
		</div>
		
<include file="Public/footer"/>
	<script type="text/javascript">
		$(function(){
			$('.detail').each(function(){
				var html=$(this).html();
				$(this).html('<span class="short">'+html.substring(0,90)+'...</span><span class="all">'+html+'</span><div class="more"><img src="image/12.png" /><span>向下</span> 展开</div>');
			});
			$('.detail .more').each(function(){
				$(this).click(function(){
					$(this).parent().children('.all,.short').toggle();
					//			   if($(this).html()=='(更多)')
//							$(this).html('(收起)');
					//			   else $(this).html('(更多)');
				});
			});
		});
	</script> 	
		
	</body>
</html>