<include file="Public/header"/>
<div class="row_main">
<ul class="nav nav-tabs" role="tablist" id="info_tab">
  <li role="presentation" class="active"><a href="#base" role="tab" data-toggle="tab">基础</a></li>
  <li role="presentation"><a href="#extend" role="tab" data-toggle="tab">扩展</a></li>
</ul>
<!--webuploader引入-->
    <form class="form" action="{:U('Info/edit')}" method="post" enctype="multipart/form-data"> <input type="hidden" value="{$row['id']}" name="id">
    <input type="hidden" name="redirect_url" value="{$_SERVER['HTTP_REFERER']}" />
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="base">
        <table class="form_table">
            <tr class="tr rt">
                <td>分类</td>
                <td  class="lt">
                    <select name="tid">
                        <php> echo A('Communal/Type')->getOptionById(2,$row['tid']);</php>
                    </select>
                </td>
            </tr>
            <tr class="tr rt">
                <td>名称</td>
                <td  class="lt">
                    <input type="text" name="title" value="{$row['title']}" class="form_table_title">
                </td>
            </tr>
            <tr class="tr rt">
                <td>自定义属性</td>
                <td  class="lt">
                    <input type="checkbox" name="flags[]" value="j" id="j" <if condition="strstr($row['flags'],'j')">checked</if>><label for="j">跳转[j]</label>
                </td>
            </tr>
            <tr class="tr rt" <if condition="!strstr($row['flags'],'j')">style="display:none"</if> id="url">
                <td>跳转地址</td>
                <td  class="lt">
                    <input type="text" name="url" value="{$row['url']}" class="form_table_title" />
                </td>
            </tr>
            <tr class="tr rt">
                <td>封面图</td>
                <td  class="lt">
                	<div id="uploader-demo">
					    <!--用来存放item-->
					    <div id="fileList" class="uploader-list info_webupload img-container"></div>
					    <div id="thumbImg"><notempty name="row['img']"><img src="__UPLOAD__/{$row['img']}" style="max-height:150px" /><else/>暂无图片</notempty></div>
					    <div class="btns">
						    <div id="filePicker" class="webuploader-container">选择图片</div>
						    <div id="ctlBtn" class="btn btn-default">开始上传</div>
						</div>
					</div>
                </td>
            </tr>
            <tr class="tr rt">
                <td>简要描述</td>
                <td  class="lt">
                     <textarea name="desc">{$row['desc']}</textarea>
                </td>
            </tr>
            <tr class="tr rt">
                <td>详细内容</td>
                <td  class="lt">
                    <textarea name="text" id="text">{$row['text']}</textarea>
                </td>
            </tr>
            <tr class="tr rt">
                <td>排序</td>
                <td  class="lt">
                    <input type="text" name="sort" value="{$row['sort']}"/>
                </td>
            </tr>
            <tr class="tr rt">
                <td>发布时间</td>
                <td  class="lt">
                    <input type="text" name="time" id="time" value="<php> echo date('Y-m-d H:i:s',$row['time']);</php>"/>
                </td>
            </tr>
            <tr class="tr rt">
                <td>作者</td>
                <td  class="lt">
                    <input type="text" name="author" value="{$row['author']}"/>
                </td>
            </tr>
            <tr class="tr rt">
                <td >是否显示：</td>
                <td  class="lt">
                    <select name="status">
                        <option <eq name="row.status" value="1">selected</eq> value="1">是</option>
                        <option <eq name="row.status" value="0">selected</eq> value="0">否</option>
                    </select>
                </td>
            </tr>
        </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="extend">
            <table class="form_table">
            <tr class="tr rt">
                <td>多图上传</td>
                <td  class="lt">
                    <p style="color:red">内容页上方轮播图像素为603*400</p>
                     <!-- 控制盘 -->
                    <div class="btn-group images-upload">
                        <button type="button" class="btn btn-default addphoto_btn"><div id="addphoto"></div></button>
                    </div>
                    <!-- 控制盘 -->
                    <div id="addphoto"></div>
                    <div class="info-body" id="queue_div">
                        <ul class="photo-list droptrue" id="queue">
                        <php>
                        $images=jsonToArray($row['images']);
                        </php>
                        <volist name="images" id="vo">
                        <li>
                            <div class="img-thumbnail">
                            <img src="__UPLOAD__/{$vo['img']}">
                            <input name="img_path[]" type="hidden" value="{$vo['img']}"/>
                            <div class="action">
                                <i class="trigger icon icon-times" onclick="delimg(this)">×</i>
                            </div>
                            </div>
                            <span class="caption"><input type="text" name="img_title[]" value="{$vo['title']}" placeholder="图片标题"/></span>
                            <span class="caption"><input type="text" name="img_desc[]" value="{$vo['desc']}" placeholder="图片描述"/></span>
                        </li>
                        </volist>
                        </ul>
                    </div>
                </td>
            </tr>
                <tr class="tr rt">
                    <td>手机封面图</td>
                    <td class="lt">
                        <div id="mobileuploader">
                            <!--用来存放item-->
                            <div id="mobilefileList" class="uploader-list info_webupload img-container"></div>
                            <div id="mobilethumbImg"><notempty name="row['mobile_img']"><img src="__UPLOAD__/{$row['mobile_img']}" style="max-height:150px" /><else/>暂无图片</notempty></div>
                            <div class="btns">
                                <div id="mobilefilePicker" class="webuploader-container">选择图片</div>
                                <div id="mobilectlBtn" class="btn btn-default">开始上传</div>
                            </div>
                        </div>
                    </td>
                </tr>
        </table>
        </div>
        <table class="form_table">
            <tr class="tr lt">
                <td >&nbsp;</td>
                <td colspan="4">
                    <input name="submit" type="submit" class="btn btn-default" value="修改" >
                </td>
            </tr>

        </table>
        </div>
    </form>
</div>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/common/datetime/datetimepicker.css" />
<script src="__PUBLIC__/common/datetime/bootstrap-datetimepicker.min.js" type="text/javascript" charset="UTF-8"></script>
<script src="__PUBLIC__/common/datetime/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="UTF-8"></script>
<script charset="utf-8" src="__PUBLIC__/common/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/jquery-ui.min.js"></script>

<link href="__PUBLIC__/common/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css">
<script charset="utf-8" src="__PUBLIC__/common/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/common/kindeditor/lang/zh_CN.js"></script>
<link href="__PUBLIC__/common/webuploader/webuploader.css"  rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="__PUBLIC__/common/webuploader/webuploader.min.js"></script>
<link href="__PUBLIC__/common/layer/skin/layer.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="__PUBLIC__/common/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/cropper.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/cropper.css"/>
<script type="text/javascript">
 KindEditor.ready(function(K) {
        window.editor= K.create("#text",{width:'1000px',height:'600px',cssPath:"__PUBLIC__/admin/css/add.css"});
    });
$('#j').click('toggle',function(){
        $("#url").toggle();
});
$('#info_tab a').click(function(event) {
     $(this).tab('show');
});
$('#time').datetimepicker({
    format: 'yyyy-mm-dd hh:ii:ss',
    language:"zh-CN",
    minView:2,
    autoclose:true
});
/***********************/
var timestamp = Date.parse(new Date()).toString().substring(0,10);
$( "#queue" ).sortable({connectWith: "#queue"});
$( "#queue" ).disableSelection();
function delimg(obj){
   $(obj).parents('li').remove();
}
//直接加载容易浏览器崩溃 延迟一下加载
setTimeout(function(){
    $('#addphoto').uploadify({
        'fileSizeLimit':'2MB',
        'removeCompleted': false,
        'fileTypeExts' : '*.gif; *.jpg; *.png; *.jpeg;',
        'swf'      : '__PUBLIC__/common/uploadify/uploadify.swf',
        'uploader' : '?s=/Communal/Uploadify/upload&folder=temp/info/'+timestamp,
        'buttonText' : '<div class="add"> <i class="icon icon-plus"></i>添加图片</div>',
        'multi':false,
        'width':95,
        'height':25,
        'uploadLimit':50,
        onUploadSuccess: function(file,data,respone){
                //data=JSON.parse(data);
                data=eval("("+data+")");
                 console.log(data);
                if(data.status){
                    $('#queue').append('<li><div class="img-thumbnail">'
                        +'<img src="'+data.path+'">'
                        +'<input name="img_path[]" type="hidden" value="'+data.path+'"/>'
                        +'<div class="action">'
                            +'<i class="trigger icon icon-times" onclick="delimg(this)">×</i>'
                        +'</div>'
                        +'</div>'
                        +'<span class="caption"><input type="text" name="img_title[]" value="" placeholder="图片标题"/></span>'
                        +'<span class="caption"><input type="text" name="img_desc[]" value="" placeholder="图片描述"/></span>'
                        +'</li>');
                }else{
                    alert('服务器处理失败');
                }
        }
    });
	//tobe
},100);
function removeP(e){
    $(e).closest('tr').remove();
}
</script>
<script type="text/javascript" src="__PUBLIC__/admin/js/admin_upload.js?version=1.8"></script>
<include file="Public/footer"/>