<include file="Public/header" />
<div class="row_main">

<form action="{:U('Admin/Agent/addcity')}" method="post" enctype="multipart/form-data">
<div class="tab-content">

             
	  	<table class="form_table">
	        <tr class="tr rt">
	            <td>城市(省)名称</td>
	            <td  class="lt">
	               <input type="text" name="name" value="" class="form_table_title"/>
	            </td>
	        </tr>
	        <tr class="tr rt">
	            <td>所属上级</td>
	            <td  class="lt">
	               <select name="pid">
                           <option  value="0">请选择</option>
                           <volist name="provice" id="vo">
	                    <option  value="{$vo.id}">{$vo.name}</option>
                           </volist>
	      
	                </select>
	            </td>
	        </tr>    
 
	        <tr class="tr rt">
	            <td>类型</td>
	            <td  class="lt">
	               <select name="type">
	                    <option  value="1">省(直辖市)</option>
	                    <option value="2">城市</option>
                            
	                </select>
	            </td>
      
	        </tr> 
                <tr class="tr rt">
                <td colspan="4">
                    <input name="submit" type="submit" class="btn btn-default" value="添加" >
                </td>
       
		</table>
</div>

        

</form>
</div>

<include file="Public/footer" />
