<include file="Public/header"/>
		<div class="companytitle Cooperation">
			<div class="companytitle1"></div>
			<div class="companytitle2">
				<div class="title-c fleft">
					<i class="title-i1">渠道合作</i>
					<i class="title-i2">Cooperation</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>渠道合作</span> </div>
			<div class="present2 width1225 cooperation ">
				<div class="cooperation1">
					<div class="cooperation11">
						<div class="point-area" style="top: 105px; left: 125px; position: absolute; width: 110px; height: 110px; visibility: visible; opacity: 1;">
							<p class="point-name" style="position: absolute; top: 45px; left: 65px;">新疆</p>
							<div class="point point-dot"></div>
							<div class="point point-10"></div>
							<div class="point point-40"></div>
							<div class="point point-shadow point-80"></div>
						</div>
						<div class="point-area" style="top: 105px; left: 740px; position: absolute; width: 200px; height: 200px; visibility: visible; opacity: 1;">
							<p class="point-name" style="position: absolute; top: 90px; left: 110px;">华东</p>
							<div class="point point-dot"></div>
							<div class="point point-10"></div>
							<div class="point point-40"></div>
							<div class="point point-shadow point-80"></div>
						</div>
						<div class="point-area" style="top: 355px; left: 275px; position: absolute; width: 80px; height: 80px; visibility: visible; opacity: 1;">
							<p class="point-name" style="position: absolute; top: 30px; left: 0px;">华北</p>
							<div class="point point-dot"></div>
							<div class="point point-10"></div>
							<div class="point point-70"></div>
						</div>
					</div>
				</div>
				<div class="cooperation2">
					<select id="province"> 
					   <option>----请选择省份----</option> 
					   <option>北京</option> 
					   <option>上海</option> 
					   <option>江苏</option> 
					</select>
					<span class="">省</span>
					<select class="city"> 
						<option>----请选择城市----</option> 
                                                <option>东城</option> 
                                                <option>西城</option> 
                                                <option>崇文</option> 
                                                <option>宣武</option> 
                                                <option>朝阳</option> 
                                        </select> 
				
				    <span class="">市</span>
				    <input type="button" value="查找代理商" onclick="getSelectValue();">
				</div>
				<div class="cooperation3">
					<span class="">代理商详情</span>
					<ul class="cooperation31">
						<li>省</li>
						<li>市</li>
						<li>代理商类型</li>
						<li>地址</li>
						<li>联系方式</li>
					</ul>
					<div class="cooperation32">
						<ul class="">
							<li>上海</li>
							<li>黄浦</li>
							<li></li>
							<li></li>
							<li>1111122255</li>
						</ul>
	
					</div>
					
				</div>
			</div>	
		</div>


<!--底部应用场景图片轮播-->
<include file="Public/footer"/>
