<include file="Public/header"/>
        <script src="__PUBLIC__/home/js/jquery.adipoli.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            
            $(function(){
				$('.row4').adipoli({
                    'startEffect' : 'transparent',
                	'hoverEffect' : 'boxRandom'
                });
       		 });
            
        </script>
		<div class="companytitle Solutions">
			<div class="companytitle1"></div>
			<div class="companytitle2 fleft">
				<div class="title-c fleft">
					<i class="title-i1">解决方案</i>
					<i class="title-i2">Industry Solutions</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
			
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>解决方案</span> </div>
			<div class="present2 width1225 industry ">
				<div class="industry1">
					<div class="present21">机器人</div>
					<div class="industry11">
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_9.png" class="row4"/>
							<p>综合型酒店</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_10.png" class="row4"/>
							<p>房地产</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_11.png" class="row4"/>
							<p>展会</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_12.png" class="row4"/>
							<p>大型园区</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_13.png" class="row4"/>
							<p>商业综合体</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_14.png" class="row4"/>
							<p>交通枢纽</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_15.png" class="row4"/>
							<p>金融</p>
						</a>
						<a href="">
							<img src="__PUBLIC__/home/images/img_16.png" class="row4"/>
							<p>政务办公</p>
						</a>
					</div>
				</div>
				<div class="industry2">
					<div class="present21">虚拟现实</div>
					<div class="industry11">
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_17.png" class="row4"/>
							<p>VR样板间</p>
						</a>
						<a href="{:U('Info/solutions1')}">
							<img src="__PUBLIC__/home/images/img_18.png" class="row4"/>
							<p>VR旅游</p>
						</a>
					</div>
				</div>
			</div>	
		</div>
<include file="Public/footer"/>
