<include file="Public/header"/>

		<div class="companytitle">
			<div class="companytitle1">
				<ul>
					<li class="titlec"><a href="{:U('Info/company_introduction')}">公司介绍</a></li>
					<li><a href="{:U('Info/team')}">团队介绍</a></li>
					<li><a href="{:U('Info/mechanism')}">下属机构</a></li>
					<li><a href="{:U('Info/news')}">新闻动态</a></li>
				</ul>
			</div>
			<div class="companytitle2">
				<div class="title-c fleft">
					<i class="title-i1">公司介绍</i>
					<i class="title-i2">Company profile</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>公司介绍</span> </div>
			<div class="present2 width1225">
				<div class="present21">下属机构</div>
				<div class="present22 present24 present26">
					<span>天津智汇时代科技有限公司</span>
					<span>苏州工业园区智能智造工厂</span>
					<span>贵州新能源车联网基地</span>
					<span>新疆第十二建设兵团国防科技产业园</span>
					<span>天津善融影视众筹科技有限公司</span>
					<span>智汇O2O生活服务有限公司</span>
				</div>
			</div>
		</div>

<include file="Public/footer"/>