<include file="Public/header"/>

		<div class="companytitle Products">
			<div class="companytitle1"></div>
			<div class="companytitle2">
				<div class="title-c fleft">
					<i class="title-i1">产品介绍</i>
					<i class="title-i2">Products</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>产品介绍</span> </div>
			<div class="present2 width1225 products ">
				<div class="present21">导航机器人</div>
				<div class="products3">
					<div class="products31 fleft">
						<ul>
							<li>
								<span>说走就走的智能导航 </span>
								<span>多项技术融合研发，为机器人提供计算速度更快的地图构建及厘米级的定位精度。高性能运动底盘，带来与正常人类相同的行走速度。导航、巡逻等多种功能实现，配合1080P高清红外监控探头带来24小时360°移动安保。</span>
							</li>
							<li>
								<span>省心无忧的自动充电</span>
								<span>依托智能导航，低电量时自动提醒并前往最近充电桩充电，无需人工干预。充电完成即可返回工作，智能自动化真实体验。</span>
							</li>
							<li>
								<span>智能系统带来深度模块应用</span>
								<span>基于安卓智能系统，10寸电容触控屏幕，为多种应用交互搭建升级平台。不同行业、不同场合自主定制专属智能系统，实现应用过程中的优质用户体验和高价值转化。</span>
							</li>
							<li>
								<span>生物识别保障信息安全</span>
								<span>无论是会员系统的专属服务，或是物业联动的移动办公，智汇机器人都可以通过生物识别技术提供高安全系数的信息保障。一一对应的真实数据，更为用户制定优化决策提供大数据支持，实现行业体系的联动智能升级。</span>
							</li>
							<li>
								<span>即听话又能谈天说地</span>
								<span>智能语音交互，既能做到通用领域的流畅聊天，又为行业定制特殊场合的多轮对话。六麦阵列及360°声源定位，为你们的聊天创造最优环境。</span>
							</li>
							<li><img src="__PUBLIC__/home/images/img_8.png"/></li>
						</ul>
					</div>
					<div class="products32 fright"><img src="__PUBLIC__/home/images/img_4.png" /></div>
				</div>
			</div>	
		</div>

<include file="Public/footer"/>