<include file="Public/header"/>
		<div class="companytitle Products">
			<div class="companytitle1"></div>
			<div class="companytitle2">
				<div class="title-c fleft">
					<i class="title-i1">产品介绍</i>
					<i class="title-i2">Products</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>产品介绍</span> </div>
			<div class="present2 width1225 products ">
				<div class="products1">
					<div class="present21">机器人</div>
					<div class="present22 present24">
						<p>众多专业领域的技术精英，构成了智汇研究院的研发团队。我们基于自主研发技术并整合多项前沿科技，根据市场现有需求及对未来人类的期望预测，研发出多款智能服务型机器人，配合多领域行业的解决方案，为用户带来真正的价值转化，实现智能升级。</p>
					</div>
					<div class="products11">
						<a href="Products1.html"><img src="__PUBLIC__/home/images/img_4.png" class="products111" /></a>
						<a href="Products1.html"><img src="__PUBLIC__/home/images/img_5.png" class="products112" /></a>
						<a href="Products1.html"><img src="__PUBLIC__/home/images/img_6.png" class="products113" /></a>
					</div>
				</div>
				<div class="products2">
					<div class="present21">虚拟现实</div>
					<div class="present22 present24 products12">
						<p>智汇时代利用计算机技术自主研发，搭建虚拟现实平台，服务于众多行业领域。让用户突破限制，在以假乱真的多种虚拟世界中，身临其境地体验、娱乐、消费、活动、研究和探索。</p>
						<p>我们自主研发搭建的VR平台，可服务于医学、教育、交通、军事、航天、工业、艺术、娱乐、游戏、城市规划、房地产、文物保护等众多行业领域，不仅为使用者带来虚拟逼真的场景和真实奇妙的体验，还为服务商提供完整优化的推广服务及后期问题的解决方案，使沉浸式技术在不同领域串联、共享。</p>
					</div>
					<div class="products11">
						<a href=""><img src="__PUBLIC__/home/images/img_7.png"/></a>
					</div>
				</div>
			</div>	
		</div>
<include file="Public/footer"/>
