<include file="Public/header"/>

		<div class="companytitle">
			<div class="companytitle1">
				<ul>
					<li class="titlec"><a href="{:U('Info/company_introduction')}">公司介绍</a></li>
					<li><a href="{:U('Info/team')}">团队介绍</a></li>
					<li><a href="{:U('Info/mechanism')}">下属机构</a></li>
					<li><a href="{:U('Info/news')}">新闻动态</a></li>
				</ul>
			</div>
			<div class="companytitle2">
				<div class="title-c fleft">
					<i class="title-i1">公司介绍</i>
					<i class="title-i2">Company profile</i>
				</div>
				<div class="title-slant fleft"></div>
				<div class="title-n fleft">
					<i class="title-i3">您的满意是我们存在的价值。</i>
				</div>
			</div>
		</div>
		
		<div class="centre">
			<div class="present1 margin100"> <span>公司介绍</span> </div>
			<div class="present2 width1225">
				<div class="present21">团队介绍</div>
				<div class="present22 present24">
					<p class="">我们拥有实力精良的技术研发团队、机器人相关技术的尖端科研人士和实锤经验丰富的产品开发人员。他们各自在相关领域中成就不菲，而今相聚在智汇时代，新的团队和新的发展目标更为他们带来了前进的动力。创意、创新、创造，不故步自封，勇于发展试错，扁平化的管理体系为每个人的未来发展提供了优质平台，互联网的工作氛围带来了轻松舒适、团结融洽的办公环境。我们拥有实力，也善于表现，智汇时代特种兵，为人类未来科技变革保驾护航。</p>
				</div>
			</div>
			<div class="present2 width1225">
				<div class="present21">核心成员</div>
				<div class="present22 present24">
					<div class="team1">
						<div class="fleft">
							<span class="present251">黄玮</span>
							<span class="present252">特聘专家</span>
							<ul>
								<li>- 带领博士生进行技术攻关</li>
								<li>- 博士后 多年韩国留学经历</li>
								<li>- 主要从事生物识别算法</li>
								<li>- 2015年获得国家生物识别算法大赛一等奖</li>
							</ul>
						</div>
						<div class="fleft">
							<span class="present251">薛山</span>
							<span class="present252">CTO</span>
							<ul>
								<li>- 美国麻省理工硕士</li>
								<li>- 著名图像分析处理专家</li>
								<li>- 曾任Adobe公司技术高管，2004年回国帮助广电集团设计IPTV项目</li>
							</ul>
						</div>
						<div class="fleft">
							<span class="present251">葛为民</span>
							<span class="present252">机器人项目指导专家</span>
							<ul>
								<li>- 天津理工大学自动化学院院长</li>
								<li>- 美国广电协会正式会员</li>
								<li>- 多年机器人自动化项目研究</li>
								<li>- 获得国家及天津市多项科技奖项</li>
							</ul>
						</div>
					</div>
					<div class="team1">
						<div class="fleft">
							<span class="present251">莫秀良</span>
							<span class="present252">项目经理</span>
							<ul>
								<li>- 计算机安全专家</li>
								<li>- 曾任职国家安全部门专业分析导师</li>
								<li>- 从事多年计算机及网络的安全研究，有多篇论文被专业学术期刊收录</li>
							</ul>
						</div>
						<div class="fleft">
							<span class="present251">刘则</span>
							<span class="present252">市场总监</span>
							<ul>
								<li>- 科技金融专家</li>
								<li>- 多年国际化互联网项目并购经验，丰富的证券行业和上市公司的改制经验 -擅长公司改制和科技资本合作方面的资源整合</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			<div class="present2 width1225">
				<div class="present21">我们的企业文化</div>
				<div class="present22 present24">
					<ul class="present241">
						<li>
							<span class="present24span1">· 目标 </span>
							<span class="present24span2">用科技服务未来生活。</span>
						</li>
						<li>
							<span class="present24span1">· 愿景 </span>
							<span class="present24span2">做科技行业中的特种兵。</span>
						</li>
						<li>
							<span class="present24span1">· 口号 </span>
							<span class="present24span2">智慧拥抱未来 科技服务生活。</span>
						</li>
						<li>
							<span class="present24span1">· 企业文化 </span>
							<span class="present24span2">团结向前 共享成果。</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="present2 width1225">
				<div class="present21">我们的六大核心观念</div>
				<div class="present22 present24 present25">
					<ul class="present241">
						<li>
							<span class="present24span1">· 勇于创新 </span>
							<span class="present24span2">用独到的眼光创造、创新，打破常规，才能让企业立于不败之地。</span>
						</li>
						<li>
							<span class="present24span1">· 勤与沟通 </span>
							<span class="present24span2">沟通是解决问题的开端与桥梁。建立信任，时时沟通，打破误会与隔阂，并在沟通的过程中激发新灵感。</span>
						</li>
						<li>
							<span class="present24span1">· 强壮自身 支援战友 </span>
							<span class="present24span2">个人力量的强大抵不过团队的力量。在自我提升的同时，懂得付出，学会感恩，团队的强大才能带来利益最大化。</span>
						</li>
						<li>
							<span class="present24span1">· 大胆试错 </span>
							<span class="present24span2">科技研发是艰辛的“试错”过程。科学精神的修养实质上就是“知错—改错”，只有领悟其实质，面对深层次的认知和创造挑战，才能无所畏惧，创造成果。</span>
						</li>
						<li>
							<span class="present24span1">· 和谐家庭 </span>
							<span class="present24span2">· “修身、齐家、治国、平天下”</span>
							<span class="present24span2">和谐的家庭是生活的支柱，是调节心态的温暖港湾。美好的生活为自己带来乐趣，更能为公司带来动力。</span>
						</li>
						<li>
							<span class="present24span1">· 首问责任制 </span>
							<span class="present24span2">有问必答、有疑必释，责任明确到人，所有员工必须迅速响应，做到效率最大化的同时提升企业形象。</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

<include file="Public/footer"/>