html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, var { font-style:normal; font-weight:normal; }
ul, ol  { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "Arial","微软雅黑";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
a{ text-decoration: none; color: #FFFFFF;}

body {
	font: 16px/20px "Arial","微软雅黑",HELVETICA;
	padding-top: 0px;
	padding-right: 0;
	min-width: 1300px;
}


.fleft{ float: left;}
.fright{ float: right;}
.margin15{ width: 1225px; margin: auto; padding: 150px 0; overflow: hidden;}
.marginbig{ font-size: 28px; color: #333333; line-height: 30px; text-align: center; display: block;}
.marginbig .margins-i{ border-bottom: 2px solid #a6a6a6; width: 40px; padding: 20px 0; display: block; margin: auto; }
.margin60{margin-top: 60px;}
.margin150{ padding: 100px 0;}
.margin100{  width: 1225px; margin: auto; padding: 100px 0; overflow: hidden; }
.width1225{  width: 1000px; margin: auto; padding-bottom: 100px; }
.Solutions{ background: url(../images/bg2.png) center no-repeat rgba(197,221,236,1) !important;}
.Products{ background: url(../images/bg3.png) center no-repeat rgba(197,221,236,1) !important;}
.Contacts{ background: url(../images/bg4.png) center no-repeat rgba(197,221,236,1) !important;}
.Cooperation{ background: url(../images/bg5.png) center no-repeat rgba(197,221,236,1) !important;}
.After{ background: url(../images/bg6.png) center no-repeat rgba(197,221,236,1) !important;}
.Join{ background: url(../images/bg7.png) center no-repeat rgba(197,221,236,1) !important;}


/*头部*/
.head{ background-color: #393939; padding: 0 100px; overflow: hidden; border-bottom: 2px solid #0074c8;}
.head .headLogo{ padding: 15px 0; }
.head .nav{ margin-left: 80px;}
.head .nav ul{ overflow: hidden;}
.head .nav ul li{float: left; padding: 20px 0; margin: 0 5px;}
.head .nav ul li a{ float: left; text-align: center; width: 100px;   }
.head .nav ul li:hover{border-bottom: 5px solid #0074c8;}
.head .nav .navli{ border-bottom: 5px solid #0074c8;}


/*banner*/
.banner{background-color: #f2f2f2;}
.slideBox{ width:100%; height:595px; overflow:hidden; position:relative; }
.slideBox .bd{ position:relative; height:450px;}
.slideBox .bd ul{ overflow: hidden;}
.slideBox .bd ul li{ zoom:1; vertical-align:middle; overflow: hidden;}
.slideBox .bd img{ width:100%; height:450px; display:block;  }
.slideBox .hd{ height:130px; overflow:hidden; display: inline-block; margin-top: 2px; }
.slideBox .hd ul{ float: left; overflow:hidden; zoom:1; padding-left: 2px; height: 130px;  }
.slideBox .hd ul li{position: relative; float:left; border: 2px solid #00CDEC; margin-right:2px;  width: 230px; height: 125px; line-height:14px; text-align:center; cursor:pointer; }
.slideBox .hd ul li img{ width: 230px; height: 125px;}
.slideBox .hd ul li.on{ border: 2px solid #0074C8; }
.slideBox .hd a{ background-color: #d7d7d7; }
.slideBox .prev,
.slideBox .next{ float: left; width:80px; height:130px;}
.slideBox .prev{ background: url(../images/arrow_left.png) 30px no-repeat; }
.slideBox .next{ background: url(../images/arrow_right.png) 30px  no-repeat;}
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/*解决方案*/
.resolve{ background-color: #f2f2f2; overflow: hidden; cursor: pointer; }
.resolve .resolve1{ margin: 0 60px; width: 491px; height: 370px; box-shadow: 0 3px 6px rgba(0,0,0,.2); transition: box-shadow .2s ease;}
.resolve .resolvescript{ width: 451px; padding: 20px; background-color: #FFFFFF;}
.resolve .resolvescript span{ line-height: 25px; padding-bottom: 10px; display: block; font-size: 22px; color: #333333;}
.resolve .resolvescript p ,.resolve .resolveprint .resolvewriting p{ font-size: 14px; color: #999999; width: 450px; height: 60px;word-break: break-all; word-wrap: break-word; overflow: hidden;}
.resolve .resolveprint{ background-color: #e6e6e6; width: 491px; position: relative;}
.resolve .resolveprint .resolveimg ,.resolve .resolveprint .resolveimg img{ height: 235px; width: 491px;}
.resolve .resolveprint .resolvewriting{ display: none;  width: 300px; height: 235px; position: absolute; top: 0; background:transparent;background-color:rgba(13,109,181,0.8); right: 0;}
.resolve .resolveprint .resolvewriting p{ color: #FFFFFF; padding: 42px 42px 0 42px; width: 200px; height: 150px; line-height: 25px;word-break: break-all; word-wrap: break-word; overflow: hidden;}
.resolve .resolve1:hover{  box-shadow: 0 0 20px rgba(13,109,181, 0.5); }
.resolve .resolve1:hover .resolvewriting{ display: block;}

/*功能定制*/
.customized .customizedul{ overflow: hidden;}
.customized .customizedul div{  overflow: hidden; }
.customized .customizedul span{  position: relative; display: block; color: #FFFFFF; font-size: 22px; float: left; padding: 50px 43.4px; transition: .1s transform; transform: translateZ(0);}
.customized .customized1{ background-color: #33bab1;}
.customized .customized2{ background-color: #338dc9;}
.customized .customized3{ background-color: #585aa8;}
.customized .customized4{ background-color: #cd5257;}
.customized .customized5{ background-color: #8557a7;}
.customized .customized6{ background-color: #338dc9;}
.customized .customized7{ background-color: #f9a94b;}
.customized .customized8{ background-color: #33ffff;}
.customized .customized9{ background-color: #8557a7;}
.customized .customized10{ background-color: #f9a94b;}
.customized .customized11{ background-color: #a3d165;}
.customized .customized12{ background-color: #33bab1;}
.customized .customized13{ background-color: #585aa8;}
.customized .customized14{ background-color: #33a86a;}
.customized .customizedul span:hover { z-index: 1; transform: scale(1.5, 1.5); ransition: .3s transform; }


/*合作案例*/
.cooperate{ background-color: #f2f2f2;}
.cooperate .cooperateul{ overflow: hidden;}
.cooperate .cooperateul .cooperateleft{ margin-right: 20px; }
.cooperate .cooperateul .cooperate11width{ width: 321px; height: 351px;}
.cooperate .cooperateul .cooperate11width .cooperate11div{ width: 320px;}
.cooperate .cooperateul .cooperate11width .cooperate11span{ width: 321px;}
.cooperate .cooperateul .cooperate22width{ width: 421px; height: 166px;}
.cooperate .cooperateul .cooperate22width .cooperate11div{ width: 420px;}
.cooperate .cooperateul .cooperate22width .cooperate11span{ width:421px;}
.cooperate .cooperateul .cooperate11{ position: relative;}
.cooperate .cooperateul .cooperate11 .cooperate11div{ position: absolute; z-index: 11; bottom: 0px; height: 40px; text-align: center; background:transparent;background-color:rgba(0,0,0,0.5);}
.cooperate .cooperateul .cooperate11 .cooperate11span{ width: 100%; word-break: break-all; word-wrap: break-word; overflow: hidden; color: #FFFFFF; font-size: 24px; line-height: 40px; }
.cooperate .cooperateul .cooperateright{ width: 882px;}
.cooperate .cooperateul .cooperateright ul{ overflow: hidden;}
.cooperate .cooperateul .cooperateright ul li{ float: left; margin: 0 20px 20px 0;}
.cooperate .cooperateul .cooperate11:hover{ -webkit-filter: brightness(120%); -moz-filter:brightness(120%); filter:brightness(120%); -ms-filter:brightness(120%);}


/*动态*/
.trends .trendsul ul{ overflow: hidden; height: 320px; padding: 0 15px;}
.trends .trendsul ul li:nth-child(2){ margin: 0 20px;}
.trends .trendsul ul li{ float: left; cursor: pointer; border: 1px solid #e5e5e5; width: 382px; padding-bottom: 20px; }
.trends .trendsul ul li .trendscontent{  overflow: hidden;}
.trends .trendsul ul li .trendscontent .contentimg{text-align: center; width: 100%; height: 180px;overflow: hidden;}
.trends .trendsul ul li .trendscontent .contentimg img{ width: 100%; -webkit-transition: all 0.5s ease; width: 100%; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.trends .trendsul ul li .trendscontent .contentwriting{ overflow: hidden;}
.trends .trendsul ul li .trendscontent .contentwriting .writingp{ margin-bottom: 15px; padding: 20px 20px 0 20px; color: #333333; height: 41px; width: 340px; word-break: break-all; word-wrap: break-word; overflow: hidden;}
.trends .trendsul ul li .trendscontent .contentwriting .writingtime{ height: 20px; float: right; display: block; padding: 0 20px; color: #cccccc;}
.trends .trendsul ul li:hover{  -webkit-box-shadow: 0 0 15px rgba(186, 204, 207, 0.7); -moz-box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);}
.trends .trendsul ul li:hover img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1);-o-transform: scale(1.1); transform: scale(1.1); }


/*底部*/
.bottom{ background-color: #393939; overflow: hidden; padding: 50px 0; color: #FFFFFF; }
.bottom .bottom1{ overflow: hidden; width: 800px; margin: auto; }
.bottom .bottom1 ul li{ float: left;}
.bottom .bottom1 ul li .img_span{ line-height: 50px; }
.bottom .bottom1 ul li div{  padding-left: 60px; height: 40px;}
.bottom .bottom1 .img_fault{ background: url(../images/img_fault.png) no-repeat;  padding-left: 50px;}
.bottom .bottom1 .img_customer{ margin: 0 115px;  background: url(../images/img_customer.png) no-repeat;}
.bottom .bottom1 .img_return{ background: url(../images/img_return.png) no-repeat;}
.bottom .bottom2{ border-bottom: 2px solid #8b8b8b; padding: 20px 0; margin: auto;}
.bottom .bottom3{ width: 800px; margin: auto; padding-top: 30px; overflow: hidden; }
.bottom .bottom3 .bottomLeft{ background: url(../images/img_consult.png) 0 12px no-repeat;}
.bottom .bottom3 .bottomLeft div{ padding-left: 40px;}
.bottom .bottom3 .bottomLeft div span{ display: block; line-height: 30px;}
.bottom .bottom3 .bottomLeft div .bottomspan2{ font-size: 21px;}
.bottom .bottom3 .bottomRight{ margin-left: 120px;}
.bottom .bottom3 .bottomRight .bottomRight1{ padding-bottom: 25px;}
.bottom .bottom3 .bottomRight .bottomRight1 span{ padding-right: 2px;}
.bottom .bottom3 .bottomRight .bottomRight2{ overflow: hidden;}
.bottom .bottom3 .bottomRight .bottomRight2 span{ padding-bottom: 20px; display: block }
.bottom .bottom3 .bottomRight .bottomRight2 .bottomRight21{  margin-right: 20px;}
.bottom .bottom3 .bottomRight .bottomRight2 .bottomRight21 ul{ font-size: 14px; color: #cccccc; line-height: 25px;}
.bottom .bottom3 .bottomRight .bottomRight3 .bottomRight31{ padding: 20px 0; display: block;}
.bottom .bottom3 .bottomRight .bottomRight3 .bottomRight32{ font-size: 14px; color: #cccccc;}
.bottom .bottom3 .bottomRight .bottomRight3 .bottomRight32 span{ padding-right: 5px;}

/*公司介绍*/
.companytitle{ background: url(../images/bg1.png) center no-repeat rgba(197,221,236,1); width: 100%; height: 181px;}
.companytitle1{ height: 40px; }
.companytitle1 ul{ overflow: hidden; padding: 10px 80px; background:transparent; background-color:rgba(241,247,251,0.5);}
.companytitle1 ul li{ float: left; padding: 0 10px; text-align: center;}
.companytitle1 ul li a{ color: #999999; font-size: 14px;}
.companytitle1 ul li a:hover ,.companytitle1 ul .titlec a{ color: #0075c9;}
.companytitle2{ color: #333333; overflow: hidden; padding: 10px 150px;  height: 119px; }
.companytitle2 .title-c i{ display: block;}
.companytitle2 .title-c .title-i1{ font-size: 32px; color: #0075c9; line-height: 40px;}
.companytitle2 .title-c .title-i2{ font-size: 14px; font-family: "微软雅黑";}
.companytitle2 .title-n{ margin-left: -20px; margin-top: 72px; font-size: 14px;  }
.title-slant{ background: url(../images/img_27.png) no-repeat; width: 35px; height: 88px; }

.present1 span{ font-size: 24px; color: #0075c9; text-align: center; margin: auto; display: block; background: url(../images/img_c1.png) 0px 15px no-repeat; line-height: 30px; width: 988px; }
.present2{ overflow: hidden;}
.present2 .present21{ color: #333333; font-size: 24px; line-height: 25px; padding-bottom: 20px; }
.present2 .present22{ width: 570px;}
.present2 .present22 p{ color: #999999; font-size: 14px; padding-bottom: 20px; line-height: 25px;}
.present2 .present24{ width: 100%;}
.present2 .present24 p{ padding: 0; line-height: 30px;}
.present2 .present24{ overflow: hidden;}
.present2 .present24 .team1 div{ color: #333333; font-size: 14px; margin-bottom:80px; line-height: 25px; background-color: #f3f8fb; padding: 40px 20px 0; height: 200px; width: 230px;}
.present2 .present24 .team1 div:nth-child(2){ margin: 0 92px;}
.present2 .present24 .team1 div span{ display: block;}
.present2 .present24 .team1 div .present251{ font-size: 24px; }
.present2 .present24 .team1 div .present252{ color: #0075c9;}
.present2 .present24 .team1 div ul{ padding-top: 10px; line-height: 20px;}
.present2 .present24 .present241{ font-size: 14px;  overflow: hidden; padding-top: 20px;}
.present2 .present24 .present241 span{ display: block;}
.present2 .present24 .present241 li{ float: left; width: 250px; line-height: 28px;}
.present2 .present24 .present24span1{ color:#333333 ;}
.present2 .present24 .present24span2{ color:#999999 ;}
.present2 .present25 .present241 li{ width: 300px; margin-right: 33px; margin-bottom: 40px; }
.present2 .present26{ color:#999999 ; font-size: 14px;}
.present2 .present26 span{ float: left; text-align: center; width: 250px; margin: 20px 40px 40px 40px;} 


.news{ border-top: 1px solid #f4f4f4; margin-top: 40px;}
.news li{ border-bottom: 1px solid #f4f4f4; padding-top: 60px; }
.news .newstitle{ font-size: 31px; line-height: 30px;}
.news .newscentre1{ color:#999999 ; font-size: 14px; line-height: 25px; background-color: #f6f6f6; padding: 10px 20px; margin-top: 40px; overflow: hidden;}
.news .newscentre1 a{ color: #ea7200; float: left; padding: 0 5px;}
.news .newscentre1 span{ float: left; padding: 0 5px;}
.news .newscentre1 .newscentre11 span:nth-child(3) ,.news .newscentre1 .newscentre12 span{ font-size: 16px; margin-top: -2px; }
.news .newscentre1 .newscentre13 .newsqimg{ display: none; border: 1px solid #eeeeee; padding: 5px; background-color: #FFFFFF; position: absolute; z-index: 1;}
.news .newscentre1 .newscentre13 span{ padding-left: 22px; margin-left: 15px; color: #CCCCCC;}
.news .newscentre1 .newscentre13 .newscentre31{ background: url(../images/img_c4.png) 0 4px no-repeat; cursor: pointer;}
.news .newscentre1 .newscentre13 .newscentre32{ background: url(../images/img_c3.png) 0 6px no-repeat;}
.news .newscentre1 .newscentre13 .newscentre33{ cursor: pointer; background: url(../images/img_c5.png) 0 3px no-repeat;}
.news .newscentre1 .newscentre13 .newscentre33:hover .newsqimg{ display: block;}
.news .newsimg{ width: 1080px; height: 609px; margin-top: 40px;}
.news .newsimg img{ width: 1080px; height: 609px;}
.news .newscentre2{ margin-top: 30px;}
.news .newscentre2 p{ line-height: 25px; }
.news .newscentre3{ padding: 25px 0; overflow: hidden;}
.news .newscentre3 a{ font-size:18px ; float: right; color: #0075c9;}
.news .paging{  overflow: hidden; width: 370px; margin:40px auto;}
.news .paging div{ }
.news .paging ul{ border: 1px solid #e6e6e6;  border-radius: 5px; overflow: hidden; }
.news .paging ul li{ border: 0; float: left; padding: 0; border-right: 1px solid #e6e6e6; width: 40px; text-align: center;}
.news .paging ul li a{ float: left; font-size: 14px; height: 25px; line-height: 25px; color: #428bca;width: 40px;}
.news .paging ul li:last-child{ border: 0;}
.news .paging ul li img{ padding: 8px 17px;}
.news .paging ul li .padina ,.news .paging ul li span:hover{ background-color: #428bca; color: #FFFFFF;}
.news .paging ul li span{ display: block;}


/*加入我们*/
.join .joinborder{ border-left: 1px solid #eeeeee; float: left; height: 300px; margin-top: 280px;}
.join .joinUs{  margin-left: 40px; }
.join .join1{  width: 430px; margin: 0 40px 70px 0;}
.join .join1 .join12{ color: #999999; font-size: 14px; line-height: 25px; }


/*售后平台*/
.after .after1{ border: 1px solid #e5e5e5; position: relative; }
.after .after1 .after11{ width: 460px; height: 450px; text-align: center;}
.after .after1 .after11 img{ margin:auto ;width: 450px; height: 450px;-webkit-transition:-webkit-transform .2s linear;-moz-transition:-moz-transform .2s linear;-o-transition:-o-transform .2s linear;transition:transform .2s linear}
.after .after1 .after11 img:hover{-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);-o-transform:translateX(-5px);transform:translateX(-5px)}
.after .after1 .after12{ position: absolute; bottom: 0px; width: 460px; font-size: 24px; color: #FFFFFF;  background:transparent;background-color:rgba(0,0,0,0.5); line-height: 50px; text-align: center;}

/*业务联系*/
.contacts .contacts1{ width: 300px; margin: 0 30px;}
.contacts .contacts1 .contactsimg{ margin: auto; }
.contacts .contacts1 .contactsimg ,.contacts .contacts1 .contactsimg img{ width: 180px; height: 180px; border-radius:100% ;}
.contacts .contacts1 .contactsimg img{ border: 1px solid #e5e5e5;}
.contacts .contacts1 .contactsspan{ margin: 30px 0; }
.contacts .contacts1 .contactsspan span{ display: block; text-align: center;}
.contacts .contacts1 .contactsspan .contactsspan1{ font-size: 24px; line-height: 30px;}
.contacts .contacts1 .contactsspan .contactsspan2{ color: #0075c9; font-size: 14px; line-height: 25px;}
.contacts .contacts1 .contacts11{ color: #999999; font-size: 14px; letter-spacing: 1px;}
.contacts .contacts1 .contacts11 span{ display: block;}
.contacts .contacts1 .contacts11 div{ margin-bottom: 30px; }

/*渠道合作*/
.cooperation{ font-size: 14px;  color: #333333;}
.cooperation1{ position: relative; background: url(../images/img_3.png) no-repeat; width: 1000px; height: 670px; margin-bottom: 60px;}

.point-area {
  text-align: center; position: relative; width: 150px;height: 150px;
  -webkit-transition: opacity 0.5s ease-out;-moz-transition: opacity 0.5s ease-out;-o-transition: opacity 0.5s ease-out;transition: opacity 0.5s ease-out;
}
.point-area .point {
  position: absolute;top: 0;left: 0;right: 0;bottom: 0;
  width: 10px;height: 10px; margin: auto;-webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;moz-border-radius: 50%;moz-background-clip: padding;
  border-radius: 50%;background-clip: padding-box;background: transparent;
}
.point-area .point-shadow:after {
  -webkit-box-shadow: inset 0 0 5em rgba(0, 205, 236, 0.16);
  -moz-box-shadow: inset 0 0 5em rgba(0, 205, 236, 0.16);
  box-shadow: inset 0 0 5em rgba(0, 205, 236, 0.16);
}
.point-area .point-white {
  background-color: #fff;
  border: 1px solid #00C1DE;
}
.point-area .point-dot {
  background-color: #6AD7E9;
  border: 1px solid rgba(0, 205, 236, 0.37);
}
.point-area .point-10 {
  width: 100%;
  height: 100%;
}
.point-area .point-10:after {
  content: ''; display: block;position: absolute;top: 0;right: 0; bottom: 0; left: 0;border-radius: 50%;
  border: 2px solid #00cdec;opacity: 0;-webkit-animation: ripple 4500ms ease-out 225ms infinite;
  -moz-animation: ripple 4500ms ease-out 225ms infinite;-o-animation: ripple 4500ms ease-out 225ms infinite;animation: ripple 4500ms ease-out 225ms infinite;
}
.point-area .point-20 {
  width: 100%;
  height: 100%;
}
.point-area .point-20:after {
  content: '';display: block; position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;border-radius: 50%;
  border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 450ms infinite;
  -moz-animation: ripple 4500ms ease-out 450ms infinite;
  -o-animation: ripple 4500ms ease-out 450ms infinite;
  animation: ripple 4500ms ease-out 450ms infinite;
}
.point-area .point-30 {
  width: 100%;
  height: 100%;
}
.point-area .point-30:after {
  content: '';display: block;
  position: absolute;top: 0; right: 0;bottom: 0; left: 0;border-radius: 50%;border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 675ms infinite;
  -moz-animation: ripple 4500ms ease-out 675ms infinite;
  -o-animation: ripple 4500ms ease-out 675ms infinite;
  animation: ripple 4500ms ease-out 675ms infinite;
}
.point-area .point-40 {
  width: 100%;
  height: 100%;
}
.point-area .point-40:after {
  content: '';display: block; position: absolute;
  top: 0;right: 0;bottom: 0; left: 0;border-radius: 50%;border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 900ms infinite;
  -moz-animation: ripple 4500ms ease-out 900ms infinite;
  -o-animation: ripple 4500ms ease-out 900ms infinite;
  animation: ripple 4500ms ease-out 900ms infinite;
}
.point-area .point-50 {
  width: 100%;
  height: 100%;
}
.point-area .point-50:after {
  content: '';display: block;position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  border-radius: 50%;border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 1125ms infinite;
  -moz-animation: ripple 4500ms ease-out 1125ms infinite;
  -o-animation: ripple 4500ms ease-out 1125ms infinite;
  animation: ripple 4500ms ease-out 1125ms infinite;
}
.point-area .point-60 {
  width: 100%;
  height: 100%;
}
.point-area .point-60:after {
  content: '';display: block;position: absolute;
  top: 0;right: 0;bottom: 0; left: 0;border-radius: 50%;border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 1350ms infinite;
  -moz-animation: ripple 4500ms ease-out 1350ms infinite;
  -o-animation: ripple 4500ms ease-out 1350ms infinite;
  animation: ripple 4500ms ease-out 1350ms infinite;
}
.point-area .point-70 {
  width: 100%;
  height: 100%;
}
.point-area .point-70:after {
  content: ''; display: block;position: absolute;top: 0;
  right: 0;bottom: 0;left: 0;border-radius: 50%; border: 2px solid #00cdec; opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 1575ms infinite;
  -moz-animation: ripple 4500ms ease-out 1575ms infinite;
  -o-animation: ripple 4500ms ease-out 1575ms infinite;
  animation: ripple 4500ms ease-out 1575ms infinite;
}
.point-area .point-80 {
  width: 100%;
  height: 100%;
}
.point-area .point-80:after {
  content: '';display: block;position: absolute;
  top: 0;right: 0;bottom: 0; left: 0;border-radius: 50%;border: 2px solid #00cdec;opacity: 0;
  -webkit-animation: ripple 4500ms ease-out 1800ms infinite;
  -moz-animation: ripple 4500ms ease-out 1800ms infinite;
  -o-animation: ripple 4500ms ease-out 1800ms infinite;
  animation: ripple 4500ms ease-out 1800ms infinite;
}
lesshat-selector {-lh-property: 0; } 
@-webkit-keyframes ripple{ 0%{opacity:0;-webkit-transform:scale(0.1,0.1); } 5%{ opacity:1; }  100%{ opacity:0; -webkit-transform:scale(1)}}
@-moz-keyframes ripple{ 0%{opacity:0;-moz-transform:scale(0.1,0.1); } 5%{ opacity:1; }  100%{ opacity:0; -moz-transform:scale(1)}}
@-o-keyframes ripple{ 0%{opacity:0;-o-transform:scale(0.1,0.1); } 5%{ opacity:1; }  100%{ opacity:0; -o-transform:scale(1)}}
@keyframes ripple{ 0%{opacity:0;-webkit-transform:scale(0.1,0.1);-moz-transform:scale(0.1,0.1);-ms-transform:scale(0.1,0.1);transform:scale(0.1,0.1); } 5%{ opacity:1; }  100%{ opacity:0;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}
[not-existing] {zoom: 1; }

.cooperation2{ margin: auto; width: 600px; line-height: 30px;}
.cooperation2 select{ width: 180px; height: 30px; line-height: 30px;  }
.cooperation2 span{ padding: 0 10px;}
.cooperation2 input{ width: 125px; height: 30px; background-color: #0075c9; border: 0; color: #FFFFFF; cursor: pointer; }
.cooperation3{ width: 600px; margin: 40px auto;}
.cooperation3 span{display: block;}
.cooperation3 ul{  overflow: hidden; color: #999999; margin-top: 10px;}
.cooperation3 ul li{ float: left; overflow: hidden; line-height: 35px; height: 35px; text-align: center; width: 120px;}
.cooperation3 .cooperation31 li{ border-bottom: 1px solid #e5e5e5;}

/*产品介绍*/
.products1 .products11{ margin-top: 40px; overflow: hidden; position: relative; height: 431px; margin-bottom: 150px; }
.products1 .products11 img{ position: absolute;}
.products1 .products11 .products111{ left: 0; top: 23px;}
.products1 .products11 .products112{ left: 350px; top: 23px; }
.products1 .products11 .products113{ right: 0;}
.products2 .products12 p{ margin-bottom: 20px;}
.products2 .products11{ margin-top: 40px;}
.products3 .products31{ width: 650px;}
.products3 .products31 li{ float: left; margin-bottom: 40px;}
.products3 .products31 li span{ display: block; font-size: 14px; color: #999999; line-height: 25px;}
.products3 .products32{ width: 328px;}
.products11 a img{ -webkit-transition:-webkit-transform .2s linear;-moz-transition:-moz-transform .2s linear;-o-transition:-o-transform .2s linear;transition:transform .2s linear }
.products11 a img:hover{ opacity: 0.9; }




/*解决方案*/
.industry a{ height: 314px; height: 314px; float: left; position: relative; text-align: center;}
.industry a p{ position: absolute; z-index: 11; width: 100%; font-size: 24px; bottom: 0; text-align: center; line-height: 50px; background:transparent;background-color:rgba(0,0,0,0.5); }
.industry1{ overflow: hidden; margin-bottom: 80px;}
.industry1 a ,.industry1 a img{ width: 333px; }
.industry2 a ,.industry2 a img{ width: 500px;}
.industry11{ margin-top: 20px;}
.Solutions1{ margin-bottom: 80px; }
.Solutions1 .Solutions11{ margin-top: 20px; color: #999999; font-size: 14px; line-height: 25px; overflow: hidden;}
.Solutions1 .Solutions11 p{ margin-bottom: 20px;}
.Solutions1 .Solutions11 span{ display: block;}
.Solutions1 .Solutions11 .Solutions111{ width: 500px;}
.Solutions1 .Solutions11 .Solutions112 ,..Solutions1 .Solutions11 .Solutions112 img{ width: 450px; height: 338px;}
.Solutions1 .Solutions12{ overflow: hidden; margin-top: 40px;}
.Solutions1 .Solutions12 ul{ overflow: hidden;}
.Solutions1 .Solutions12 li{ float: left; width: 326px; padding-bottom: 50px; margin-right: 100px; margin-left: 50px; overflow: hidden;}
.Solutions1 .Solutions12 li span{ display: block; padding-left: 70px;}
.Solutions1 .Solutions12 li span:nth-child(1){ color: #333333; font-size: 18px; padding-bottom: 30px;}
.Solutions1 .Solutions12 li span:nth-child(2){ color: #999999; font-size: 14px; }
.Solutions1 .Solutions12 .Solutions121{ background: url(../images/img_20.png) no-repeat;}
.Solutions1 .Solutions12 .Solutions122{ background: url(../images/img_21.png) no-repeat;}
.Solutions1 .Solutions12 .Solutions123{ background: url(../images/img_22.png) no-repeat;}
.Solutions1 .Solutions12 .Solutions124{ background: url(../images/img_23.png) no-repeat;}
.Solutions1 .Solutions12 .Solutions125{ background: url(../images/img_24.png) no-repeat;}
.Solutions1 .Solutions12 .Solutions126{ background: url(../images/img_25.png) no-repeat;}
.Solutions1 .Solutions13{ background: url(../images/img_26.png) no-repeat; height: 301px; width: 1000px; font-size: 18px; color: #FFFFFF;}
.Solutions1 .Solutions13 p:nth-child(1){ padding-top: 125px;}
.Solutions1 .Solutions13 p{  padding-left: 70px; width: 490px; line-height: 30px; margin-bottom: 30px; text-shadow: #333333 0 2px 3px;}
.Solutions1 .Solutions14{ margin-bottom: 80px; }
.Solutions1 .Solutions14 ul{ overflow: hidden; color: #999999; }
.Solutions1 .Solutions14 ul li{ float: left; width: 330px; line-height: 25px; text-align: center;}
.Solutions1 .Solutions15{ background-color: #0075c9; padding: 80px 50px 20px; color: #FFFFFF; font-size: 14px; }
.Solutions1 .Solutions15 p:nth-child(1){ font-size: 30px; line-height: 30px;}
.Solutions1 .Solutions15 p:nth-child(2){ padding: 10px 0 40px 0;}
.Solutions1 .Solutions15 span{ width: 120px; margin-bottom: 10px; display: block; line-height: 50px; text-align: center; background-color: #FFFFFF; color: #0075c9;}
