@charset "utf-8";
/* CSS Document */


/*banner*/

.flexslider { position:relative; height:auto; overflow:hidden; width:100%; margin-top: -4px;}
.slides { position:relative; z-index:0;}
.slides li{width:100%;height:390px; vertical-align: middle;zoom:1;}
.slides li a{width:100%;vertical-align: middle;display: block;}
.slides li img {height:390px; }


.flex-control-nav { position:absolute; bottom:10px; z-index:2; width:100%; text-align:center;}
.flex-control-nav li { display:inline-block; width:14px; height:14px; margin:0 5px; *display:inline; zoom:1;}
.flex-control-nav a { display:inline-block; width:14px; height:14px; line-height:40px; overflow:hidden; background:url(../images/dot.png) 0 0 no-repeat; cursor:pointer;}
.flex-control-nav .flex-active { background-position:right 0;}



/*首页通用标题样式*/
.title_ul {    width: 590px;
    height: 114px;
    line-height: 114px;
    margin: auto;}
.title_ul .index_title { color:#9BADB2; margin:37px 68px 0 70px; font-weight:bold; font-size:20px;}
.title_ul .title_line { background:url('../images/line.jpg') repeat-x; width:155px; height:1px; margin-top:57px; display:block; float:left;}



/*涉及领域*/

.field ul.field_list { padding:0 0 38px 0;} 
.field ul.field_list li { float:left; width:372px; margin-right:22px; margin-right: 26px;}
.field ul.field_list li img { width:372px; height:224px; border:1px solid #c3c3c3;}
.field ul.field_list li p.field_con { font-size:14px; line-height:25px; word-break:break-all; word-wrap:break-word; width:375px; height:50px; overflow:hidden;}
.field ul.field_list li p.field_title a { color:#6F8F99; font-size:24px; display:block; margin:21px 0; width:350px; height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}




/*案例*/
.case_bg h3 { width:100%; text-align:center; padding-top:27px;}
.case_bg ul.case_list { padding-bottom:51px; _margin-bottom:51px;}
.case_bg ul.case_list li { float:left; width:268px; height:375px; border:1px solid #eeeeee; background:#fff; margin-right:30px;}
.case_bg ul.case_list li img { width:268px; height:265px;}
.case_bg ul.case_list li .case_des { width:238px; height:90px; padding:15px;}
.case_bg ul.case_list li .case_des h4 { font-size:18px; font-weight:normal;margin-bottom: 10px;}
.case_bg ul.case_list li .case_des h4 a { color:#6F8F99; display:block; height:35px; line-height:35px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 20px;}
.case_bg ul.case_list li .case_des p { font-size:14px; height:54px; line-height:18px; word-break:break-all; word-wrap:break-word; overflow:hidden;}





/*合作伙伴*/
.friend { width:1180px; margin:10px auto 43px;}
.friend h3 { width:100%; text-align:center; margin-bottom:32px;}
.friend .friend_list li { float:left; width:167px; height:60px; margin:0px 35px 33px 0;}
.friend .friend_list li a img{width: 167px;height: 60px;}