<include file="Public/header"/>
	<body>
		<!-- 头部 -->
		<div class="Top backgroundColor">
			<div class="logo"><img src="__PUBLIC__/mobile/image/logo.png" /></div>
			<div class="Top_right">
				<p class="p1">天津智汇时代科技有限公司</p>
				<p class="p2">智慧 创新 科技 未来</p>
			</div>
		</div>
		
			
		<!-- 滚动 -->
		<div class="Roll">
		    <div class="swiper-container">
		        <div class="swiper-wrapper">
					<volist name="focus" id="vo">
		            <div class="swiper-slide" style="background: url('__UPLOAD__/{$vo['img']}') center 0px no-repeat; width: 100%;    background-size: 100% 100%;" ></div>
					</volist>
		        </div>
		        <!-- 滚动条-->
		        <div class="swiper-pagination"></div>
		    </div>
	    </div>
	    
	    	
	    <!--产品服务-->
	    <div class="Product backgroundColor">
	    	<div class="Product_top">
	    		<span>产品服务</span>
	    	</div>
	    	<div class="Product_border"></div>
	    	<div class="nav">
	    		<ul>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>39))}">
		    				<img src="__PUBLIC__/mobile/image/1.png" />
		    				<span>智能机器人</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>40))}">
		    				<img src="__PUBLIC__/mobile/image/2.png" />
		    				<span>虚拟现实</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>41))}">
		    				<img src="__PUBLIC__/mobile/image/3.png" />
		    				<span>生物识别</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>42))}">
		    				<img src="__PUBLIC__/mobile/image/4.png" />
		    				<span>智慧城市</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>43))}">
	    					<img src="__PUBLIC__/mobile/image/5.png" />
	    					<span>外骨骼</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="{:U('Info/productServer',array('tid'=>44))}">
		    				<img src="__PUBLIC__/mobile/image/6.png" />
		    				<span>传感器</span>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>
	    
	    <!--应用案例-->
	    <div class="Product backgroundColor">
	    	<div class="Product_top">
	    		<span>应用案例</span>
	    	</div>
	    	<div class="Product_border"></div>
	    	<div class="Application">
	    		<div class="Application_es">
	    			<div class="Img"><img src="__PUBLIC__/mobile/image/7.png" /></div>
	    			<div class="Substance">
		    			<div class="Content">
		    				<div class="Content_top">
		    					<p class="Content_p1">智能机器人</p>
		    					<p class="Content_p2">我研究院研发的智能服务机器人(智汇侠）</p>
		    				</div>
		    			</div>
		    			<div class="Case">
		    				<div class="Case_left">
								<volist name="robot" id="vo" offset="0" length='4'>
									<a href="{:U('Info/details',array('id'=>$vo['id']))}">{$vo['title']}</a>
								</volist>
		    				</div>
							<if condition="count($robot) gt 4">
								<div class="Case_right"><img src="__PUBLIC__/mobile/image/12.png" /></div>
								<div class="Case_left display">
									<volist name="robot" id="vo" offset="5">
										<a href="{:U('Info/details',array('id'=>$vo['id']))}">{$vo['title']}</a>
									</volist>
								</div>
							</if>
		    			</div>
	    			</div>
	    		</div>
	    		<!--线-->
	    		<div class="Border"></div>
	    		<!--线-->
	    		<div class="Application_es">
	    			<div class="Img"><img src="__PUBLIC__/mobile/image/8.png" /></div>
	    			<div class="Substance">
		    			<div class="Content">
		    				<div class="Content_top">
		    					<p class="Content_p1">虚拟现实</p>
		    					<p class="Content_p2">我研究院利用计算机技术搭建虚拟现实平台，可以使用户超越时空的限制，身临其境体验各种场景。</p>
		    				</div>
		    			</div>
		    			<div class="Case">
		    				<div class="Case_left">
								<volist name="vr" id="vo" offset="0" length='4'>
									<a href="{:U('Info/details',array('id'=>$vo['id']))}">{$vo['title']}</a>
								</volist>
		    				</div>
						<if condition="count($vr) gt 4">
							<div class="Case_right"><img src="__PUBLIC__/mobile/image/12.png" /></div>
								<div class="Case_left display">
									<volist name="vr" id="vo" offset="5">
										<a href="{:U('Info/details',array('id'=>$vo['id']))}">{$vo['title']}</a>
									</volist>
							</div>
						</if>
		    			</div>
		    			<!--<div class="Case_right"><img src="image/12.png" /></div>-->
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    
	     <!--新闻动态-->
	    <div class="Product backgroundColor">
	    	<div class="Product_top">
	    		<span>新闻动态</span>
	    		<a href="{:U('Info/news')}">更多新闻</a>
	    	</div>
	    	<div class="Product_border"></div>
	    	<div class="news">
	    		<ul>
					<volist name="news" id="vo">
						<li>
							<a href="{:U('Info/details',array('id'=>$vo['id']))}">
								<div class="news_left"><img src="__UPLOAD__/{$vo['mobile_img']}" /></div>
								<div class="news_right">
									<div class="news_title">{$vo['title']}</div>
									<div class="news_center">{$vo['desc']}</div>
								</div>
							</a>
						</li>
					</volist>
	    		</ul>
	    	</div>
	    </div>
	    
	    <!--关于我们-->
	    <div class="About_us backgroundColor">
	    	<p>{$config['ex']['beian']}     <a href="{:U('Info/aboutUs')}">关于我们</a> </p>
	    	<p>{$config['ex']['banquan']}</p>
	    </div>
	    
<include file="Public/footer"/>
	<script>
	(function($){
		$(document).ready(function(){
	    	$(".Case_right").click(function(){
				$(".display").toggle();
				$(".Case_right img").attr('src',$(".Case_right img").attr('src')=='__PUBLIC__/mobile/image/12.png'?'__PUBLIC__/mobile/image/13.png':'__PUBLIC__/mobile/image/12.png');
			
	    		
	    	});
	    });
    })(jQuery);
	//滚动条
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        //autoplay : 2000,    //可选选项，自动滑动
    	autoplayDisableOnInteraction : false,
    	paginationBulletRender: function (index, className) {
            return '<span class="' + className + '"></span>';
        }

    });
    
    
    </script>
	
	</body>
</html>